---  
layout: main 
title: Home
exclude_from_nav: true
---

{% capture assignments %} <a href = "{{ site.baseurl }}/assignments/">assignments</a>{% endcapture %}

<p><b>08/23/2026</b>: Welcome to <b style = "color: red"> CSC-360: Software Development with AI</b> for the Fall 2026 term! This page will be used to provide course material for CSC-360.  Please see the links above for more information. </p>

{% comment %}

<p><b>12/03/2019</b>: {% include examRef.html examLabel = "Final Presentation" %} posted (to be given Friday, 12/13 beginning 8:00 AM)
<p><b>11/18/2019</b>: {% include examRef.html examLabel = "Image Recognition Project" %} posted (Due Monday, 11/25/19)
<p><b>11/11/2019</b>: {% include hwRef.html hwLabel = "Lab 12" %} posted (Due Monday, 11/18/19)
<p><b>11/04/2019</b>: {% include hwRef.html hwLabel = "Lab 11" %} posted (Due Monday, 11/11/19)
<p><b>10/23/2019</b>: {% include examRef.html examLabel = "NLP Project" %} posted (Due Wednesday, 10/30/19)
<p><b>10/18/2019</b>: {% include hwRef.html hwLabel = "Lab 10" %} posted (Due Wednesday, 10/23/19)
<p><b>10/16/2019</b>: {% include hwRef.html hwLabel = "Lab 9" %} posted (Due Friday, 10/18/19)
<p><b>10/6/2019</b>: {% include hwRef.html hwLabel = "Lab 8" %} posted (Due Monday, 10/14/19)
<p><b>9/24/2019</b>: {% include examRef.html examLabel = "Python Assessment" %} will be Friday, 9/27/19
<p><b>9/19/2019</b>: {% include hwRef.html hwLabel = "Chapter 5 HW" %} posted (Due Wednesday, 9/25/19)
<p><b>9/13/2019</b>: {% include hwRef.html hwLabel = "Chapter 4 HW" %} posted (Due Wednesday, 9/18/19)
<p><b>9/10/2019</b>: {% include hwRef.html hwLabel = "Twitter Signup HW" %} and {% include hwRef.html hwLabel = "Chapter 3 HW" %} posted (Due Monday, 9/16/19)
<p><b>9/09/2019</b>: {% include hwRef.html hwLabel = "Chapter 2 HW" %} posted (Due Wednesday, 9/11/19)

{% endcomment %}

